body {
    font-size: 1.2em;
    background-color: white;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

#zoekbalk {
    position: relative;
    bottom: 48px;
    right: 106px;
    width: fit-content;
    float: right;
}

#zoekKnop {
    position: relative;
    bottom: 38px;
    left: 220px;
}

#data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.allepost {
    position: relative;
    left: 10px;
    top: 10px;
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    width: 600px;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

#postTitel {
    display: flex;
    justify-content: center;
}
