body {
    font-size: 1.2em;
    background-color: #2c3338;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.alert-danger {
    display: none;
}

.login-box {
    display: flex;
    justify-content: center;
  
}
.registreren-btn{
    position: relative;
    top: -23px;
    left: 190px;
}
#geen-account{
    position: relative;
    top: 27px;
    left: 30px;

}
.login-btn{
    width: 300px;
}
#h1login{
    text-align: center;
    padding: 25px;
    color: white;
}
#gebruikersnaam{
    color: white;
}
#wachtwoord{
    color: white;
}
