body {
    font-size: 1.2em;
    background-color: #2c3338;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

#zoekbalk {
    position: relative;
    bottom: 48px;
    right: 106px;
    width: fit-content;
    float: right;
}

#zoekKnop {
    position: relative;
    bottom: 38px;
    left: 220px;
}

#userInfo{
    color: white;
    text-align: left;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.user-info-container {
    background-color: #343a40; 
    padding: 20px;
    border-radius: 10px; 

}

.box {
    text-align: center;
}
#editButton{
    position: relative;
    bottom: 3px;
    left: -1px;

}
#deleteButton {
    background-color: #ff3333; 
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px; 
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
  }