body {
    font-size: 1.2em;
    background-color: white;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

#zoekbalk {
    position: relative;
    bottom: 48px;
    right: 106px;
    width: fit-content;
    float: right;
}

#zoekKnop {
    position: relative;
    bottom: 38px;
    left: 220px;
}

.positieDiv {
    display: flex;
    justify-content: center;
}

#data {
    display: flex;
    position: relative;
    border-width: 1px;
    top: 155px;
    width: 800px;
    border-style: solid;
    border-color: gray;
    justify-content: center;
    padding: 10px;
}

#titelVraag {
    font-size: 25px;
    padding-bottom: 41px;
}

#vraag {
    margin-top: 58px;
}

#tags {
    display: flex;
    margin: 15px;
    padding-bottom: 15px;
    color: white;
    padding: 14px 20px 14px 19px;
    border-radius: 8px;
    background-color: #426b1f;
    text-decoration: none;
    width: fit-content;
}

#antwoord {
    padding-top: 31px;
}

#vraagTop {
    display: flex;
}

#vraagBottom {
    display: flex;
}

textarea {
    width: 100%;
    height: fit-content;
}

.antwoord {
    position: relative;
    justify-content: center;
    top: 250px;
    display: flex;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    width: 800px;
    height: 400px;
}


.antwoordOpVraag {
    display: flex;
    justify-content: center;
}

#button_Antwoord {
    position: relative;
    left: 10px;
    top: 10px;
    height: 57px;
}

#labelAntwoord {
    position: relative;
    left: 10px;
    top: 10px;
}

#titelAntwoord {
    position: relative;
    left: 10px;
    top: 10px;
}

.raten {
    
}